<!Doctype html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <%= yield %>

  <div id=""debug">
    <p>The time is <%= Time.now.strftime("%I:%M %p") %>.</p>
    <p>Sinatra version <%= Sinatra::VERSION %>.</p>
  </div>
</body>
</html>